<div class="card w-50 mx-auto">
    <div class="card-header p-2 text-bold">Login</div>
    <div class="card-body row justify-content-center">
        <div class="col-2">
            <label>Name:</label>
        </div>
        <div class="col-2">
            <input type="text" name="name" id="name" [(ngModel)]="name"><br />
        </div>
    </div><br />
    <div class="row justify-content-center">
        <div class="col-2">
            <label>Password:</label>
        </div>
        <div class="col-2">
            <input type="password" name="pass" id="pass" [(ngModel)]="pass" /><br />
        </div>
    </div><br />
    <div class="row justify-content-center">
        <div class="col-2">
            <button class="btn btn-info" (click)="credSend(name,pass)">SUBMIT</button>
        </div>
    </div><br />
</div>